In [16]:
import pandas as pd
rs=["Solar","Wind","Hydropower","Geothermal","Biomass"]
rs

['Solar', 'Wind', 'Hydropower', 'Geothermal', 'Biomass']

In [2]:
rs=pd.Series(rs)
rs

0         Solar
1          Wind
2    Hydropower
3    Geothermal
4       Biomass
dtype: object

In [3]:
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022,2025,2023]
}
pdf=pd.DataFrame(data)
pdf

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022
3,Solar Roof Z,Solar,50,100,Nevada,2025
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023

In [4]:
loc=pd.Series(data.get("Location"))
loc

0    California
1         Texas
2    Washington
3        Nevada
4         Idaho
dtype: object

In [5]:
pdf["Location"]

0    California
1         Texas
2    Washington
3        Nevada
4         Idaho
Name: Location, dtype: object

In [6]:
pdf[["Location","Technology","Cost (Million $)"]]

     Location  Technology  Cost (Million $)
0  California       Solar               200
1       Texas        Wind               400
2  Washington  Hydropower               350
3      Nevada       Solar               100
4       Idaho  Geothermal               250

In [7]:
pdf.shape

(5, 6)

In [8]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project           5 non-null      object
 1   Technology        5 non-null      object
 2   Capacity (MW)     5 non-null      int64
 3   Cost (Million $)  5 non-null      int64
 4   Location          5 non-null      object
 5   Completion Year   5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [9]:
pdf.head(3)

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024
2,Hydropower Y,Hydropower,200,350,Washington,2022

In [10]:
pdf.describe()

       Capacity (MW)  Cost (Million $)  Completion Year
count        5.00000          5.000000         5.000000
mean       160.00000        260.000000      2023.400000
std         96.17692        119.373364         1.140175
min         50.00000        100.000000      2022.000000
25%        100.00000        200.000000      2023.000000
50%        150.00000        250.000000      2023.000000
75%        200.00000        350.000000      2024.000000
max        300.00000        400.000000      2025.000000

In [11]:
pdf.tail(2)

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year
3,Solar Roof Z,Solar,50,100,Nevada,2025
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023

In [12]:
new_cost=pdf["Cost (Million $)"]+100
pdf["New Cost (Million $)"]=new_cost
pdf

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year,New Cost (Million $)
0,Solar Farm A,Solar,150,200,California,2023,300
1,Wind Turbine X,Wind,300,400,Texas,2024,500
2,Hydropower Y,Hydropower,200,350,Washington,2022,450
3,Solar Roof Z,Solar,50,100,Nevada,2025,200
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023,350

In [13]:
df=pdf[pdf["Capacity (MW)"]>100]
df

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year,New Cost (Million $)
0,Solar Farm A,Solar,150,200,California,2023,300
1,Wind Turbine X,Wind,300,400,Texas,2024,500
2,Hydropower Y,Hydropower,200,350,Washington,2022,450

In [14]:
df[["Technology","Capacity (MW)"]]

   Technology  Capacity (MW)
0       Solar            150
1        Wind            300
2  Hydropower            200

In [15]:
print("The Total Cost (Million $) is",pdf["Cost (Million $)"].sum())

The Total Cost (Million $) is 1300